body {
    margin: 0;
    padding: 0;
    font-family: "IM Fell English";
    font-size: 2.6mm;
}

.page {
    width: 11in;
    height: 8.5in;
    padding: 0.25in 0.25in;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card {
    float: left;
    width: 2.6in;
    height: 4in;
    box-sizing: border-box;
    
    background-image: url("card_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    padding: 2mm 1.5mm;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.header-section {
    background-image: url("top_partial.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    align-self: stretch;

    height: 0.8in;
}

.meta {
    font-style: italic;
    color: #555;
    margin-left: 3mm;
    margin-top: -0.2mm;
}

.desc-section {
    background-image: url("desc_area_partial_triquetra.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    height: 3in;

    line-height: 3mm;
}

.casting-data {
    display: flex;
    flex-flow: column;
    margin-left: 3mm;
    line-height: 2.5mm;
    margin-top: 1mm;
}

.desc-list {
    list-style-type: none;
    padding: 0mm 3mm;
}

.desc-list > li:first-child {
    text-indent: 0mm;
}

.desc-list > li {
    text-indent: 3mm;
}

.spell-name {
    font-size: 3.4mm;
    font-weight: bold;
    margin-left: 3mm;
    margin-top: 1.5mm;
    font-family: "Merriweather";
    letter-spacing: 0.1mm;
}

.spell-subsection {
    position: relative;
    font-style: italic;

    margin-top: 1mm;
    text-indent: 0mm;
}

.spell-subdescription {
    padding-left: 3mm;
    text-indent: 0mm;
}

.materials {
    font-style: italic;
    color: #555;
    padding: 2mm 0mm 0mm 3mm;
}

.flags {
    position: relative;
    float: right;
    bottom: 0.2in;
    right: 2mm;
}

.flag-icon {
    width: 0.2in;
    height: 0.2in;
    background-size: 100% 100%;
    display: inline-block;
    margin: 0mm 1mm;
}

.concentration {
    background-image: url('concentration.png');
}

.ritual {
    background-image: url('pentagram.png');
}

.components {
    font-style: normal;
}

.backface {
    background-image: url('back_triquetra.png') !important;
    display: block;
    text-align: center;
}

.back-level {
    margin: auto;
    margin-top: auto;
    font-size: 12mm;
    margin-top: 0.4in;
    font-variant: small-caps;
}

.back-school {
    font-size: 6mm;
    font-style: italic;
    margin-top: -3mm;
    color: #444;
}

.back-set {
    font-size: 4mm;
    font-variant: small-caps;
    margin: auto;
    margin-top: 2.2in;
    line-height: 0.8;
    color: #444;
}